<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="estun_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!--<plugin>mock_components/GenericSystem</plugin>-->
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>

            </hardware>
            <joint name="Umdrehung 1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Umdrehung 1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Umdrehung 2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Umdrehung 2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Umdrehung 3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Umdrehung 3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Umdrehung 4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Umdrehung 4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Umdrehung 5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Umdrehung 5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Umdrehung 6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Umdrehung 6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">

                <parameters>$(find estun_moveit)/config/ros2_controllers.yaml</parameters>
            
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
